<div class="container-fluid p-0" id="sidebar">
    <div class="sidebar-title p-3">
        <h4 class="sidebar-title ">Dashboard</h4>
    </div>
    <hr class="m-3">
    <div class="sidebar-navs">
        <ul class="list-unstyled">
            <li class="dashboard p-2">
                <a class="nav-link p-2" routerLink="/dashboard"><i class="fa fa-dashboard mr-3"></i>Dashboard</a>
            </li>
            <li class="departments p-2">
                <a class="nav-link p-2" routerLink="/departments"><i class="fa fa-columns mr-3"></i>Departments</a>
            </li>
            <li class="professors p-2">
                <a class="nav-link p-2" routerLink="/professors"><i class="fa fa-user-md mr-3"></i> Professors</a>
            </li>
            <li class="students p-2">
                <a class="nav-link p-2" routerLink="/students"><i class="fa fa-user mr-3"></i> Students</a>
            </li>
            <li class="workers p-2">
                <a class="nav-link p-2" routerLink="/workers"><i class="fa fa-user-o mr-3"></i> Workers</a>
            </li>
            <li class="library p-2">
                <a class="nav-link p-2" routerLink="/library"><i class="fa fa-book mr-3"></i> Library</a>
            </li>
        </ul>
    </div>
    <hr class="m-3">
    <div class="extras">
        <a class="nav-link" data-toggle="collapse" href="#extras"  aria-expanded="true" aria-controls="extras">Extras <i class="fa fa-angle-down pull-right"></i></a>
        <div class="collapse" id="extras">
            <ul class="list-unstyled">
                <li class="layouts p-2">
                    <a class="nav-link p-2" routerLink="sign-in"><i class="fa fa-sign-in mr-3"></i>Sign In</a>
                </li>
                <li class="layouts p-2">
                    <a class="nav-link p-2" routerLink="sign-up"><i class="fa fa-registered mr-3"></i>Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</div>