<div class="professor mt-3">
    <div class="card">
        <div class="img-thumbnail img-fluid">
            <img src="{{professor.image}}" alt="">
        </div>
        <div class="card-body info">
            <p class="mb-0 name"><strong>{{professor.name}}</strong></p>
            <p class="mb-0 age">Age: <span class="ml-3">{{professor.age}}</span></p>
            <p class="mb-0 department">Department:<span class="ml-3">{{professor.department}}</span></p>
            <p class="mb-0 attendance">Attendace:<span class="ml-3">{{professor.attendance}}</span></p>
        </div>
    </div>
</div>