<div class="container-fluid students-list">
    <div class="row">
        <app-student class="col-xs-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let student of students" [student]="student"></app-student>
    </div>
      <div class="btn-group m-4">
        <button class="btn  bg-primary p-2">1</button>
        <button class="btn  bg-primary p-2">2</button>
        <button class="btn  bg-primary p-2">3</button>
        <button class="btn  bg-primary p-2">4</button>
        <button class="btn  bg-primary p-2">5</button>
        <button class="btn  bg-primary p-2">6</button>
    </div>
</div>