<div class="worker mt-3">
    <div class="card">
        <div class="img-thumbnail img-fluid">
            <img src="{{worker.image}}" alt="">
        </div>
        <div class="card-body info">
            <p class="mb-0 name"><strong>{{worker.name}}</strong></p>
            <p class="mb-0 age">Age:<span class="ml-3">{{worker.age}}</span></p>
            <p class="mb-0 department">Department:<span class="ml-3">{{worker.department}}</span></p>
            <p class="mb-0 attendance">Attendance:<span class="ml-3">{{worker.attendance}}</span></p>
        </div>
    </div>
</div>