<div class="app">
    <div class="row">
        <div class="col-md-2 sidebar-col px-3">
            <div class="sidebar-wrapper mt-3">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col-md-10 main-col px-0">
            <div class="main-wrapper">
                <div class="navbar-wrapper">
                    <app-navbar></app-navbar>
                </div>
                <div class="main-panel mt-3 px-3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>