<div class="dashboard pb-3">
    <div class="container-fluid">
        <div class="card">
                    <div class="chart-area chart">
                        <canvas id="chart" height="30%" width="100%">{{operationCostChart}}</canvas>
                    </div>
                </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-es-12 col-sm-12 col-md-4 col-lg-4 mt-3">
                <div class="card p-3 text-center">
                    <div class="chart-area">
                        <canvas id="intakes" height="70%" width="100%">{{intakesChart}} </canvas>
                    </div>
                </div>
            </div>
             <div class="col-es-12 col-sm-12 col-md-4 col-lg-4 mt-3">
                <div class="card">
                    <div class="chart-area">
                            <canvas id="perfomance" height="70%" width="100%">{{performanceChart}}</canvas>
                        </div>
                </div>
            </div>
            <div class="col-es-12 col-sm-12 col-md-4 col-lg-4 mt-3">
                <div class="card p-3 text-center">
                    <div class="chart-area">
                        <canvas id="graduates" height="70%" width="100%">{{graduatesChart}} </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>