<div class="dashboard">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-3">
                    <h5 class="mb-0">Students</h5>
                    <hr class="m-1">
                    <p class="mb-0">22,000</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5 class="mb-0">Graduates</h5>
                    <hr class="m-1">
                    <p class="mb-0">5,000</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5 class="mb-0">Workers</h5>
                    <hr class="m-1">
                    <p class="mb-0">150</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5 class="mb-0">Courses</h5>
                    <hr class="m-1">
                    <p class="mb-0">60</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="perfomance">
                        <div class="perfomance-title p-3">
                            <p class="mb-0">Perfomance for the last 4 years</p>
                        </div>
                        <hr class="my-2">
                        <div class="perfomance-bars">
                            <div class="classOf2015 p-3">
                                <p class="mb-0">Class of 2015</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70.41%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-0">Points: 8.45 <span class="pull-right"><small>+2.45 pts</small></span></p>
                            </div>
                            <hr class="m-2">
                            <div class="classOf2016 p-3">
                                <p class="mb-0">Class of 2016</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 81.83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-0">Points: 9.82 <span class="pull-right"><small>-1.37 pts</small></span></p>
                            </div>
                            <hr class="m-2">
                            <div class="classOf2017 p-3">
                                <p class="mb-0">Class of 2017</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 56.75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-0">Points: 6.81 <span class="pull-right"><small>+2.01 pts</small></span></p>
                            </div>
                            <hr class="m-2">
                            <div class="classOf2018 p-3">
                                <p class="mb-0">Class of 2018</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 87.42%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-0">Points: 10.49 <span class="pull-right"><small>+5.68 pts</small></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    Awards
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    Projects
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    Events
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    Activities
                </div>
            </div>
        </div>
    </div>
</div>1