.sidebar-col {
    background-color: $bg-secondary;
    min-height: 100vh;
    #sidebar {
        color: $primary-white;
        a {
            color: $primary-white;
        }
        li a:hover {
            background: $bg-primary;
            color: $active-link-white;
        }
        .sidebar-title {
            height: 4em;
        }
        hr {
            border: 0.04em solid $primary-white;
        }
    }
}

.main-col {
    background-color: $bg-primary;
}