<div class="department mt-3">
    <div class="card">
        <div class="img-thumbnail img-fluid">
            <img src="{{department.image}}" alt="">
        </div>
        <div class="card-body info">
            <p class="mb-0 name"><strong>{{department.name}}</strong></p>
            <p class="mb-0 professors">Professors:<span class="ml-3">{{department.professors}}</span></p>
            <p class="mb-0 students">Students:<span class="ml-3">{{department.students}}</span></p>
            <p class="mb-0 sub-departments">Sub-departments<span class="ml-3">{{department.sub_departments}}</span></p>
        </div>
    </div>
</div>