<div class="custom-navbar">
    <nav class="navbar navbar-expand-sm navbar-dark d-flex flex-row" id="navbar">
        <p class="active-sidebar-link ml-3"></p>
        <i class="fa fa-bars mr-3 navbar-toggler d-lg-none" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></i>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav bg-white ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-search mx-3"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="notificationId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell mx-3"></i>
                        <span class="count">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationId">
                        <ul class="list-unstyled">
                            <a class="dropdown-item preview-item" href="#" *ngFor="let notification of notificationData()">
                                <div class="d-flex">
                                    <div class="preview-thumbnail">
                                        <img class="mx-1" src="{{notification.image}}" alt="">
                                    </div>
                                    <div class="preview-item-content">
                                        <span class="p-1">{{notification.text}}</span>
                                    </div>
                                </div>
                                <div class="dropdown-divider mb-0"></div>
                            </a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{profileImage}}" class="mx-3" alt=""></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileId">
                        <a class="dropdown-item" routerLink="profile">Profile</a>
                        <a class="dropdown-item" routerLink="login" (click)="logout()" >Log out</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>