//common colors
$active-link-blue: blue !default;
$active-link-white: whitesmoke !default;
$border-color: blue;
$font-color: black !default;
$blue-font-color: blue !default;
$primary-white: whitesmoke !default;
$primary-grey:#9e9e9e !default;
$bg-primary: #b0bec5 !default;
$bg-secondary: blue !default;
$bg-primary-white: white !default;