<div class="student mt-3">
    <div class="card">
        <div class="card-img-top img-fluid">
            <img src="{{student.image}}" alt="">
        </div>
        <div class="card-body info">
            <p class="mb-0"><strong>{{student.name}}</strong></p>
            <p class="mb-0">{{student.year}}</p>
            <p class="mb-0">{{student.department}}</p>
            <p class="mb-0">{{student.subject}}</p>
            <p class="mb-0">{{student.attendance}}</p>
        </div>
    </div>
</div>